---
import VerticalTimeline from "../components/VerticalTimeline.astro";
import Layout from "../layouts/Layout.astro";
import { profile } from "./data/profile";
import profileIconPng from "../images/profile-image.png"
import mailIconPng from "../images/mail-round.png"
import twitterIconPng from "../images/twitter-round.png"
import githubIconPng from "../images/github-round.png"
---

<Layout pageTitle="Home">
  <main>
    <div class="flex justify-center items-center mb-8">
      <img
        src={profileIconPng}
        alt="Profile image. This is my cat."
        class="w-32 h-32 mr-12"
      />
      <div>
        <p class="text-3xl mb-4">iceEiji</p>
        <address class="mr-4 mb-4 inline-block">
          <a href="mailto:ice.eiji.work@gmail.com">
            <img
              src={mailIconPng}
              alt="my e-mail address link"
              class="w-10 h-10"
            />
          </a>
        </address>
        <a href="https://twitter.com/iceEiji2" class="mr-4 mb-4 inline-block">
          <img
            src={twitterIconPng}
            alt="my twitter account link"
            class="w-10 h-10"
          />
        </a>
        <a href="https://github.com/iceEiji" class="mr-4 mb-4 inline-block">
          <img
            src={githubIconPng}
            alt="my github account link"
            class="w-10 h-10"
          />
        </a>
      </div>
    </div>

    <h2 class="text-3xl mb-4"><span class="text-main">T</span>imeline</h2>
    <VerticalTimeline timelineEvents={profile.timelineEvents} />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
</style>
